{
  "presets": [
      [
        "@babel/preset-env",
        {
          "modules": "commonjs",
          "targets": {
            "node": "current"
          }
        },
        "airbnb",
        {
          "targets": {
            "node": "current"
          }
        }
      ]
    ]
}
