   <!-- Begin page content -->
   <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>



    <main role="main">

      <div class="container_fluid">
        <div class="row justify-content-center">
          <div class="col-xs-1-12">
            <a href="/" data-toggle="tooltip"
                  data-placement="bottom" title="Volver"><img class="img-fluid" alt="Responsive image" src="/res/404.gif"></a>
          </div>
        </div>

      </div>


    </main>
