   <!-- Begin page content -->
   <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>



    <main role="main">

     {{> carousel}}
  <div class="container marketing">
     {{> headings}}

     {{> featurette}}
      </div><!-- /.container -->
<div class="container w-50 p-3">
     {{> technologies}}
     </div>


    </main>