   <!-- Begin page content -->
   <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>



    <main role="main">

     {{> carousel}}

     {{> headings}}

     {{> featurette}}


    




      <h1 class="mt-5">{{titulo}}</h1>
      <p class="lead"> Ejemplo de desarrollo de una API REST con Node.JS, Express y MongoDB.</p>
      <p><img src="/res/api.png" alt="nodemon logo" height="50%"></p>
    </main>