 <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="bd-placeholder-img" width="100%" height="100%" src="/res/carousel01.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></img>
        <div class="container">
          <div class="carousel-caption">
            <h1></h1>
            <p>Un ejemplo de API REST usando tecnologías como Node.JS, Mongo, JWT, AWS y CI/CD.</p>
            <p><a class="btn btn-lg btn-secondary" href="#saber_mas" role="button">Saber más</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" width="100%" height="100%" src="/res/carousel02.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></img>
        <div class="container">
          <div class="carousel-caption">
            <h1></h1>
            <p>Aprenderás los pasos más importante para hacer tu propia API RESTfull.</p>
            <p><a class="btn btn-lg btn-secondary" href="#saber_mas" role="button">Saber más</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="bd-placeholder-img" width="100%" height="100%" src="/res/carousel03.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></img>
          <div class="carousel-caption">
            <h1></h1>
            <p>Arquitectura de microsrvicio desplegable en servicios como Heroku y Docker.</p>
            <p><a class="btn btn-lg btn-secondary" href="#saber_mas" role="button">Saber más</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
