<!-- START THE FEATURETTES -->
   <a name="saber_mas"></a>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Tu API REST. <span class="text-muted">Adáptala a tu problema.</span></h2>
        <p class="text-justify lead">El <a href="https://www.campusmvp.es/recursos/post/que-es-el-patron-mvc-en-programacion-y-por-que-es-util.aspx" target="_blank">patrón MVC</a> en <a href="https://nodejs.org/es/" target="_blank">NodeJS</a> ofrece una arquitectura de fácil implementación y extensión de tu problema. Rutas 100% RESTfull, usa los verbos HTTP para realizar todas tus operaciones. Patrón de operaciones CRUD sobre recursos, podrás añadir, listar modificar o eliminar. Sube tus ficheros a tu servidor. Todo almacenando usando <a href="https://www.mongodb.com/es" target="_blank">MongoDB</a>.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/res/api.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></img>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">¿Eres tú?, ¿puedes hacerlo?. <span class="text-muted">Seguridad JWT.</span></h2>
        <p class="text-justify lead"><a href="https://jwt.io/" target="_blank">JSON Web Token</a> (abreviado JWT) es un estándar abierto basado en JSON propuesto por IETF (RFC 7519) para la creación de tokens de acceso que permiten la propagación de identidad y privilegios. Además hemos implementado la opción de refresco de tokens para añadir más funcionalidad.</p>
      </div>
      <div class="col-md-5 order-md-1">
         <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" src="/res/jwt.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></img>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Compila, prueba, despliega. <span class="text-muted">Solo haz clic.</span></h2>
        <p class="text-justify lead">Mejora tu productividad aplicando integración y despliegue continuo (CI/CD). Usaremos <a href="https://github.com/features/actions" target="_blank">GitHub Actions</a> para crear un flujo de trabajo y compilar, realizar el análisis de código estático y ejecutar pruebas automáticas para detección temprana de errores y finalmente desplegar de todo el proyecto en <a href="http://heroku.com" target="_blank">Heroku</a> y <a href="https://hub.docker.com/" target="_blank">DockerHub</a>.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/res/devops-process.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></img>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">No importas donde estés. <span class="text-muted">Yo estaré allí.</span></h2>
        <p class="text-justify lead">No te limites a implementar en un solo lugar, usa la nube para un desarrolo contínuo y descentralizado. Usa <a href="https://www.mongodb.com/cloud/atlas" target="_blank">MongoDB Atlas</a> como base de datos, <a href="https://github.com" target="_blank">GitHub</a> como repositorio de código, pruebas unitarias automatizadas. <a href="http://heroku.com" target="_blank">Heroku</a> y <a href="https://hub.docker.com/" target="_blank">DockerHub</a> para su despliegue. Si no tienes cliente usar <a href="https://postman.com/" target="_blank">Postman</a>. Todo esto ayudará a mejorar tu productivod. No importa donde estés, simplemente desarrolla tu API.</p>
      </div>
      <div class="col-md-5 order-md-1">
         <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" src="/res/cloud.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></img>
      </div>
    </div>


    <!-- /END THE FEATURETTES -->

