<!-- START THE FEATURETTES -->
   <a name="saber_mas"></a>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Tu API REST. <span class="text-muted">Adáptala a tu problema.</span></h2>
        <p class="lead">Modelo MVC ofrece un patró de fácil implementación y extensión de tu problema. Rutas 100% RESTfull, usa los verbos HTTP para realizar todas tus operaciones. Patrón de operaciones CRUD sobre recursos, podrás añadir, listar modificar o eliminar. Sube tus ficheros a tu servidor. Todo almacenando usando Mongo.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/res/api.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></img>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">¿Eres tú?, ¿puedes hacerlo?. <span class="text-muted">Seguridad JWT.</span></h2>
        <p class="lead">JSON Web Token (abreviado JWT) es un estándar abierto basado en JSON propuesto por IETF (RFC 7519) para la creación de tokens de acceso que permiten la propagación de identidad y privilegios. Además hemos implementado la opción de refresco de tokens para añadir más funcionalidad.</p>
      </div>
      <div class="col-md-5 order-md-1">
         <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="300" height="300" src="/res/jwt.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></img>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Compila, prueba, despliega. <span class="text-muted">Solo haz clic.</span></h2>
        <p class="lead">Mejora tu productividad aplicando Integraciñon contínua.  compilar, realizar el análisis de código estático y ejecutar pruebas automáticas y desplegar de todo el proyecto lo más a menudo posible de cara a la detección temprana de errores y mejorar el despliegue de tu funcionalidad.</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="/res/devops-process.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></img>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">No importas donde estés. <span class="text-muted">Yo estaré allí.</span></h2>
        <p class="lead">No te limites a implementar en un solo lugar, usa la nube para un desarrolo contínuo y descentralizado. Usa Mongo Atlas como base de datos, GitHub como repositorio de código, pruebas unitarias automatizadas. Heroku y Docker para su despliegue. Si no tienes cliente usar Postman. Todo esto ayudará a mejorar tu productivodae extendiendo esta API. No importa donde estés.</p>
      </div>
      <div class="col-md-5 order-md-1">
         <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" src="/res/cloud.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></img>
      </div>
    </div>
    

    <!-- /END THE FEATURETTES -->

