<footer class="footer">
        <div class="container">
          <span class="text-muted"><a style="color:#9d9d9d" href="https://github.com/joseluisgs/NodeMonRest" target="_blank">NodeMonRest API</a></span>
          <span class="text-muted"><a style="color:#9d9d9d" href="https://twitter.com/joseluisgonsan" target="_blank">José Luis González Sánchez</a></span>
          <span class="text-muted">2020</span>
          <p class="float-right"><a style="color:#9d9d9d" href="#">Arriba</a></p>    
      </div>
</footer>

  

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.slim.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>