<footer class="footer">
        <div class="container">
          <span class="text-muted"><a style="color:#9d9d9d" href="https://github.com/joseluisgs/NodeMonRest" target="_blank">NodeMonRest API</a></span>
          <span class="text-muted"><a style="color:#9d9d9d" href="https://twitter.com/joseluisgonsan" target="_blank">José Luis González Sánchez</a></span>
          <span class="text-muted">2020</span>
          <span><a href="https://github.com/joseluisgs/NodeMonRest/actions" target="_blank"><img src="https://github.com/joseluisgs/NodeMonRest/workflows/Node.js%20CI/badge.svg"/></a></span>
          <span><a href="https://travis-ci.com/joseluisgs/NodeMonRest" target="_blank"><img src="https://travis-ci.com/joseluisgs/NodeMonRest.svg?branch=master"/></a></span>
          <p class="float-right"><a style="color:#9d9d9d" href="#">Arriba</a></p>
      </div>
</footer>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
