<!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->



    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/res/nodelogo.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></img>
        <h2>NodeJS</h2>
        <p class="text-justify">Ideado como un entorno de ejecución de JavaScript orientado a eventos asíncronos, Node.js está diseñado para crear aplicaciones network escalables.</p>
        <p><a class="btn btn-secondary" href="https://nodejs.org/es/" role="button" target="_blank">Conocer &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
         <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/res/mongodb.png" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></img>
        <h2>MongoDB</h2>
        <p class="text-justify">MongoDB es una base de datos distribuida, basada en documentos y de uso general que ha sido diseñada para desarrolladores de aplicaciones y para la era de la nube.</p>
        <p><a class="btn btn-secondary" href="https://www.mongodb.com/es" role="button" target="_blank">Conecer &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/res/rest.jpg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img"></img>
        <h2>RESTfull</h2>
        <p class="text-justify">REST es cualquier interfaz entre sistemas que use HTTP para obtener datos o generar operaciones sobre esos datos en todos los formatos posibles, como XML y JSON.</p>
        <p><a class="btn btn-secondary" href="https://bbvaopen4u.com/es/actualidad/api-rest-que-es-y-cuales-son-sus-ventajas-en-el-desarrollo-de-proyectos" role="button" target="_blank">Conocer &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
