<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">NodeMonRest
    <img src="/res/api.png" width="70" height="60" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Documentación
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/desarrollo">Desarrollo</a>
          <a class="dropdown-item" href="https://documenter.getpostman.com/view/11271351/Szt78VKQ"
            target="_blank">Dcumentación API</a>
          <a class="dropdown-item" href="https://github.com/joseluisgs/NodeMonRest/releases"
            target="_blank">Versiones</a>
          <a class="dropdown-item" href="https://github.com/joseluisgs/NodeMonRest/blob/master/LICENSE" ,
            target="blank">Licencia</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="https://github.com/joseluisgs/NodeMonRest/actions" target="_blank">CI/CD
            Actions</a>
          <a class="dropdown-item" href="https://hub.docker.com/r/joseluisgs/nodemonrest" target="_blank">Dockerized</a>
          <a class="dropdown-item" href="https://hub.docker.com/r/joseluisgs/nodemonrest" target="_blank">NPM</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/joseluisgonsan" , target="blank">Contacto</a>
      </li>
    </ul>
    <div class="Header-item"><a href="https://github.com/joseluisgs/NodeMonRest.git" target="_blank"><img
          src="http://getdrawings.com/free-icon-bw/github-icon-15.png" width="40" data-toggle="tooltip"
          data-placement="bottom" title="Clona o descarga"></a></div>
    <div class="Header-item"><a href="https://documenter.getpostman.com/view/11271351/Szt78VKQ" target="_blank"><img
          src="https://codelikethis.com/lessons/client-side-coding/postman-logo-512.png" width="40"
          data-toggle="tooltip" data-placement="bottom" title="Prueba en Postman"></a></div>
    <div class="Header-item"><a href="https://hub.docker.com/r/joseluisgs/nodemonrest" target="_blank"><img
          src="https://www.bravent.net/wp-content/uploads/2020/04/docker-logo-clipart-4.png" width="50"
          data-toggle="tooltip" data-placement="bottom" title="Prueba en Docker"></a></div>

    {{!--  <div class="Header-item"><a class="btn btn-outline-success my-2 my-sm-0" href="https://github.com/joseluisgs/NodeMonRest.git" target="_blank" role="button">Clona / Descarga</a></div> --}}
  </div>
</nav>
