<div class="container">
  <div class="row">
    <h2>Más información</h2>
  </div>
</div>
<!-- .container -->
<br>
<div class="container">
  <div class="col-sm-12">
    <h3>Tecnologías</h3>
  </div>
  <hr>
  <div class="col-sm-12">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-sm-3">
              <img class="d-block img-fluid" src="https://nodejs.org/static/images/logos/nodejs-new-pantone-black.svg"
                alt="First slide">
              <div class="text-center">
              </div>
            </div>
            <div class="col-sm-3">
              <img class="d-block img-fluid"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/MongoDB_Logo.svg/1280px-MongoDB_Logo.svg.png"
                alt="First slide">
              <div class="text-center">
              </div>
            </div>
            <div class="col-sm-3">
              <img class="d-block img-fluid"
                src="https://blog.launchdarkly.com/wp-content/uploads/2018/10/visualstudio_code-card.png"
                alt="First slide">
              <div class="text-center">
              </div>
            </div>
            <div class="col-sm-3">
              <img class="d-block img-fluid" src="https://1000marcas.net/wp-content/uploads/2020/02/GitHub-Logo.jpg"
                alt="First slide">
              <div class="text-center">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-sm-3">
              <img class="d-block img-fluid"
                src="https://bachasoftware.com/wp-content/uploads/2019/11/express.js-logo-2-1024x568.jpg"
                alt="First slide">
              <div class="text-center">
              </div>
            </div>
            <div class="col-sm-3">
              <img class="d-block img-fluid"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/db/Npm-logo.svg/1280px-Npm-logo.svg.png"
                alt="First slide">

            </div>
            <div class="col-sm-3">
              <img class="d-block img-fluid" src="https://estebanromero.com/wp-content/uploads/2018/02/heroku1.png"
                alt="First slide">
            </div>
            <div class="col-sm-3">
              <img class="d-block img-fluid"
                src="https://www.docker.com/sites/default/files/d8/2019-07/horizontal-logo-monochromatic-white.png"
                alt="First slide">
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="row">
            <div class="col-sm-3">
              <img class="d-block img-fluid" src="https://testerhouse.com/wp-content/uploads/2019/09/postman-logo.png"
                alt="First slide">
              <div class="text-center">
              </div>
            </div>
            <div class="col-sm-3">
              <img class="d-block img-fluid" src="https://cdn.worldvectorlogo.com/logos/babel-10.svg" alt="First slide">

            </div>
            <div class="col-sm-3">
              <img class="d-block img-fluid" src="https://miro.medium.com/max/960/1*Bw-nCS5fN7HQiZoYoTVW2A.png"
                alt="First slide">
            </div>
            <div class="col-sm-3">
              <img class="d-block img-fluid"
                src="https://i0.wp.com/blog.mi.hdm-stuttgart.de/wp-content/uploads/2016/06/mocha-chai.jpg?ssl=1"
                alt="First slide">
            </div>
          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
